/*reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{
    box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-image: url('../images/wallpapper02.png');
    background-size: cover;
    background-repeat: no-repeat;
}
aside{
    float:right;
    
}
@mixin defualtSideMargin{
    margin-left: auto;
    margin-right: auto;
}
*{
    box-sizing: border-box;
}
@keyframes introIconAnime{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}
@keyframes introAnimeTop{
    0%{
        background-color: black;
        width: 100%;
        height: 50%;
    };
    100%{
        background-color: black;
        height:0%;
        width: 100%;
    }
}
@keyframes introAnimeBot{
   
    0%{
        background-color: black;
        width: 100%;
        height: 50%;
    };
     100%{
        background-color: black;
        height: 0%;
        width: 100%;
    }
}
/*------------------------------------------------------------------------------------------------------------------------------*/
.introIcon{
    height: 350px;
    width: 350px;
    position: absolute;
    top: 300px;
    z-index: 1;
    animation-name:none;
    animation-duration: 2s;
}

.introBox{
    height: 100%;
    max-height:100%;
    min-height: 50%;
    width: 100%;
    position: absolute;
}

.introTop{
    width: 100%;
    height: 50%;
    background-color: black;
    animation-name:none;
    animation-duration: 4s;
    border-bottom-style: solid;
    border-bottom-color: silver;
    border-bottom-width: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.introBot{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 50%;
    animation-name:none;
    animation-duration: 4s;
    bottom: 0px;
    border-top-style: solid;
    border-top-color: silver;
    border-top-width: 3px;
}
.navContainer{
    height:50px;
    display: flex;
    justify-content: center;
    background-color: aqua;
    position: relative;
}
.mainIcon{
    width: 100px;
    height: 100px;
    position: relative;
}
.hide{
    display: none;
}

.bigContainer{
    display: grid;
}
.questionContainer{
    border: solid 10px cornflowerblue;
    width: 100%;
    height: 700px;
    display: flex;
}
.anwserContainer{
    height: 35%;
    display: flex;
    justify-content: center;
    @include defualtSideMargin;
}
.anwserBoxTop,.anwserBoxBottom{
    display: grid;
    
}
.checkbtn{
    height: 50px;
    width: 50px;
    margin-top: 100px;
}

button{
    width: 650px;
    height: 75px;
    border-radius: 50px;
    background-color: darkblue;
    border: solid 3px silver;
    outline: none;
    color: white;
    font-size: 15px;
}
button:focus{
    border: solid 3px darkorange;
}
.btnBox{
    margin: 25px;
}

.contentContainer{
    width: 90%;
    background-color: black;
    height: 90%;
    margin: auto;
    justify-content: center;
    display: flex;
}
.questionTextBox{
    font-size: 50px;
    color: white;
    text-align: center;
    margin: auto;
}
.btnCategore{
    display: list-item;
    float:left;
    font-weight: bold;
    list-style-type: disc;
    margin-left: 15px;
    color: rgb(255, 136, 0);
}
@media screen and (max-width:768px){
    body{
        height: 409px;
    }
    .questionContainer{
        max-width:768px;
    }
    button{
        width: 300px;
    }
    .questionTextBox{
        font-size: 30px;
    }
    button{
        width: 250px;
    }
    @media screen and (max-width:375px){
        .questionContainer{
            max-width: 375px;
            height: 275px;
        }
        button{
            width: 150px;
        }
        .questionTextBox{
            font-size: 15px;
        }
        button{
            width: 125px;
        }
        .btnBox{
            margin: 5px;
        }
        
    }
}
